html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(78, 75, 75);
    /* background-image: url(../src/images/clinic-1.jpg); */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .logo{
    /*width: 150px;*/
    height: 55px;
    margin-top: 5px;
  }
.center{
  display: flex;
  justify-content: center;
}
  
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
.note{
    position: relative;
    padding-top: 50px;
    color: rgba(238, 234, 228, 0.616)
}

.dashboard{
    padding-bottom: 50px;
    background-color: rgb(78, 75, 75);
}

.middle{
  height: 80vh;
  display: flex;
  align-items: center;
}
@media(max-width: 600px){
  .logo{
    width: 140px;
    height: 50px;
  }
}